@charset "utf-8";

@import url("//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css");
@import url("//cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css");
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

$base-font-family: "Noto Sans KR", Helvetica, Arial, san-serif !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;
$base-font-size: 16px !default;

$turning-width: 48em;

$front-color: #222842;
$grey-color: #ddd;
$primary-color: #E91E63;
$background-color: #ffffff;
$glad-text-color: #222842;

@import
	"nieun/base",
	"nieun/header",
	"nieun/article",
	"nieun/highlight",
	"nieun/toolbar",
	"nieun/card";