.card {
	height: 240px;
	padding: 0;
	margin: 0;
	position: relative;
	
	h2 {
		position: absolute;
		z-index:100;
		left: 17px;
		bottom: 20px;
		opacity: 0;
		color: $front-color;
		font-size: 1.5em;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}

	p {
		position: absolute;
		color: $front-color;
		z-index:100;
		left: 17px;
		bottom: 0;
		opacity: 0;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}

	&:hover {
		cursor: pointer;

		h2 {
			opacity: 1;
		}

		p {
			opacity: 1;
		}

		img {
		    opacity: 0.2;
		    filter: alpha(opacity=50); /* For IE8 and earlier */
		}
	}

	img {
		opacity: 1;
		background: #000;
		-webkit-transition: .3s ease-in-out;
		position: relative;
		z-index: 1;
		transition: .3s ease-in-out;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}